<div class="row">
    <div class="col s12 m12">
      <div class="card blue-grey darken-1"  >
        <div class="card-content white-text">
          <span class="card-title">{{product.name}}</span>
          <p>Price: {{product.price.formattedValue}}</p>
          <br>
          <p [innerHTML]="product.description"></p>
        </div>
        <div class="card-action">
          <a *ngIf='product.stock.stockLevelStatus==="inStock"' href="#">Add Cart</a>
          <a routerLink="/">Voltar</a>
        </div>        
          <select class="browser-default">
            <option value="" disabled selected>select quantity</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
      </div>
    </div>
</div>
